@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
    body {
        font-family: 'Poppins', sans-serif;
         height: 3000px;
        background-color: black;
    }

    .jumbotron {
        background-image: url('../img/aset/background.png');
        height: 660px;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        padding: 200px;
     
    }
    .display-4{
        font-size: 50px;
    }

    .text-banner {
        font-weight: bold;
    }

    .btn-banner {
        width: 155px;
        height: 50px;
        background-color: #FF4500;
        padding-top: 12px;
        color: white;
        border-radius: 5px;
        transition: 2s;
}
    .btn-banner:hover {
        background-color: orange;
        color: white;
        margin-left: 10px;
        box-shadow: 2px 2px 3px rgb(255, 216, 164);
        border-radius: 0px 30px 0px 30px;
}
    .martop {
        margin-top: 100px;
    }

    .img-content {
        background-color: #000;
        transition: 0.5s;
    }

    .img-content:hover {
        margin-top: -10px;
        box-shadow: 1px 1px 10px -2px white;
    }

    .text-white {
        margin-top: -15px;
    }

    .img-thumbnail {
        background-size: cover;
        height: 550px;
        width: 200%;
    }

    .text-white {
        margin-bottom: 25px;
    }

    .card-title {
        margin-top: 5px;
        font-size: 18px;
    }

    .img-star {
        margin-left: -20px;
    }

    .img-maps {
        margin-left: -18px;
        margin-top: -4px;
    }

    .indonesia {
        color: gray;
        margin-bottom: 8px;
    }

    .btn-axil {
        width: 200px;
        height: 50px;
        color: wheat;
        background-color: orangered;
        transition: 2s;
    }

    .btn-axil:hover{
         background-color: orange;
        color: white;
        margin-left: 10px;
        box-shadow: 2px 2px 3px rgb(255, 216, 164);
        border-radius: 0px 30px 0px 30px;
    }
    .button{
        background-color: orange;
        color: white;
        width: 300px;
        height: 50px;
        border: none;
        border-radius: 5px;
        margin-left: 828px;
        margin-top: -76px;
        transition: 2s;
    }
    .button:hover{
        background-color: orangered;
        color: white;
    }

.text-price{
    color: #3AA309;
    font-size: medium;
    margin-left: 47%;
    padding-top: 0px;
}
.text-card {
    margin-top: 50px;
}
.include{
    padding-top: 77px;
    padding-left: 70px
}
.include2{
    padding-top: 114px ;
      padding-left: 70px
}